@main("Rooms") {
<div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="@routes.Assets.versioned("images/executive room.jpg")" class="d-block w-100" alt="executive" width="300px" height="600px">
    </div>
    <div class="carousel-item">
      <img src="@routes.Assets.versioned("images/outdoor room.jpg")" class="d-block w-100" alt="outdoor" width="300px" height="600px">
    </div>
    <div class="carousel-item">
      <img src="@routes.Assets.versioned("images/deluxe room.jpg")" class="d-block w-100" alt="deluxe" width="300px" height="600px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
}