@main("Services"){
<section id="our-services" class="py-5 bg-light">
  <div class="container">
    <h2 class="section-heading text-center">Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="service-item">
          <img src="@routes.Assets.versioned("images/luxurious.jpg")" alt="luxurious" class="img-fluid">
          <h3 class="service-title">Luxurious Accommodations</h3>
          <p class="service-description">Indulge in our beautifully designed rooms and suites, equipped with modern amenities and breathtaking views.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="@routes.Assets.versioned("images/dining.jpg")" alt="Service 2" class="img-fluid">
          <h3 class="service-title">Fine Dining Experience</h3>
          <p class="service-description">Savor delectable dishes prepared by our talented chefs using fresh, local ingredients in our elegant restaurant.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="@routes.Assets.versioned("images/spa.jpg")" alt="Service 3" class="img-fluid">
          <h3 class="service-title">Relaxation and Spa</h3>
          <p class="service-description">Unwind and rejuvenate your senses at our luxurious spa, offering a range of treatments and therapies.</p>
        </div>
      </div>
    </div>
  </div>
</section>
}